@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
  
  --color-brand-primary: #16a34a;
  --color-brand-secondary: #14532d;
  --color-brand-accent: #22c55e;
}

@layer base {
  * {
    @apply border-zinc-800;
  }
  body {
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}
